aside.menubox {
	float: right;
	margin: 55px 0 0;
}
nav#nav {
	float: left;
	width: 100%;
}
nav#nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
nav#nav > ul > li {
	position: relative;
	float: left;
	padding: 0 20px;
}
nav#nav > ul > li > a {
	color: #1a1a1a;
	font-size: 17px;
	line-height: 20px;
	font-family: 'segoe_uisemibold';
	display: block;
	text-decoration: none;
}
nav#nav > ul > li > a:hover, nav#nav > ul > li:hover > a {
	color: #38bdf0;
}
nav#nav > ul > li.current > a {
	color: #38bdf0;
}
nav#nav ul ul, nav#nav ul ul ul {
	padding: 0px;
	border-radius: 0!important;
	position: absolute;
	left: -5000px;
	min-width: 100%;
	z-index: 100;
	opacity: 0;
	background: #2f2f2f;
}
nav#nav ul li:hover ul {
	left: 0;
	opacity: 1;
}
nav#nav ul ul li:hover ul {
	left: 100%;
	opacity: 1;
}
nav#nav ul ul li ul {
	display: none;
	padding: 0px;
	margin: -27px 0 0;
}
nav#nav ul ul li:hover ul {
	display: block;
}
nav#nav ul ul li {
	white-space: nowrap;
	padding: 0;
	margin: 0px;
	float: left;
	width: 100%;
	border-bottom: 1px solid #414141;
}
nav#nav ul ul > li:last-child {
	border-bottom: none;
}
nav#nav ul ul a {
	font-size: 13px;
	color: #ebebeb;
	display: block;
	padding: 6px 16px;
	text-decoration: none;
	line-height: 15px;
	display: block;
}
nav#nav ul ul a:hover {
	color: #ebebeb;
	border-radius: 0px;
	background: #414141;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
/*
    Mobile Menu Core Style
*/

.slicknav_btn {
	position: relative;
	display: block;
	vertical-align: middle;
	float: right;
	padding: 7px 0;
	width: 100%;
	text-align: center;
	text-decoration: none;
	line-height: 1.125em;
	cursor: pointer;
}
.slicknav_btn:hover {
	text-decoration: none;
}
.slicknav_menu .slicknav_menutxt {
	display: block;
	line-height: 1.188em;
	float: none;
}
.slicknav_menu .slicknav_icon {
	float: left;
	display: none;
	margin: 0.188em 0 0 0.438em;
}
.slicknav_menu .slicknav_no-text {
	margin: 0
}
.slicknav_menu .slicknav_icon-bar {
	display: block;
	width: 1.125em;
	height: 0.125em;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
	margin-top: 0.188em
}
.slicknav_nav {
	clear: both
}
.slicknav_nav ul, .slicknav_nav li {
	display: block;
	border-top: 1px solid #e0e6ea;
}
.slicknav_nav li.slicknav_open {
	color: #fff;
	background: #000;
}
.slicknav_nav .slicknav_arrow {
	font-size: 0.8em;
	margin: 0 0 0 0.4em;
}
.slicknav_nav .slicknav_item {
	display: block;
	cursor: pointer;
}
.slicknav_nav a {
	display: block
}
.slicknav_nav .slicknav_item a {
	display: inline
}
.slicknav_menu:before, .slicknav_menu:after {
	content: " ";
	display: table;
}
.slicknav_menu:after {
	clear: both
}
/* IE6/7 support */
.slicknav_menu {
*zoom: 1
}
/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/

.slicknav_menu {
	width: 100%;
	font-size: 16px;
}
/* Button */
.slicknav_btn {
	margin: 0px;
	text-decoration: none;
	text-shadow: none;
	background: #38bdf0;
}
/* Button Text */
.slicknav_menu .slicknav_menutxt {
	color: #FFF;
	font-weight: bold;
	text-shadow: none;
}
/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
	background-color: #f5f5f5;
}
.slicknav_nav {
	color: #fff;
	margin: 0;
	padding: 0;
	background: #f8f8f8;
	font-size: 0.875em;
}
.slicknav_nav, .slicknav_nav ul {
	list-style: none;
	overflow: hidden;
}
.slicknav_nav ul {
	padding: 5px 20px;
	margin: 0;
	background: #f8f8f8;
}
.slicknav_nav ul ul {
	background: #f8f8f8;
}
.slicknav_nav .slicknav_item {
	padding: 5px 10px;
	margin: 0px;
}
.slicknav_nav a {
	padding: 5px 10px;
	margin: 0;
	text-align:center;
	font-family: 'segoe_uisemibold';
	text-decoration: none;
	color: #1a1a1a;
}
.slicknav_nav .slicknav_item a {
	padding: 0;
	margin: 0;
}
.slicknav_nav .slicknav_item:hover, .slicknav_nav a:hover {
	color: #38bdf0;
	background:#fff;
}
.slicknav_nav .slicknav_item:hover a {
	color: #38bdf0;
	background:#fff;
}
.slicknav_nav .slicknav_txtnode {
	margin-left: 15px;
}
.slicknav_menu {
	display: none;
}
@media screen and (max-width: 800px) {
.js nav#nav {
	display: none;
}
.js .slicknav_menu {
	display: block;
}
aside.menubox{
	width:100%;
	margin:0px;
}
}